#field{
    padding: 30px;
}

.header{
    background-color:slategrey;
    text-align: center;
    font-size: 30px;
    padding: 80px;
    color: black;
}

a{
    text-decoration: none;
}

.card{
    background-color:ghostwhite;
    color:black;
    margin:5px;
    /* padding:5px; */

}

#field{
    padding: 40px;
    background-color:darkslategrey;
}